$borderColor: #999;
$backgroundColor: #ddd;

html,body {
  margin:0;
  padding:0;
  font-family: sans-serif;
  position: relative;
  background-color: $backgroundColor;
}

header {
  margin-bottom:1em;
}

#audio_container {
  display:inline-flex;
  margin:0 auto;
}

#main_content {
  padding:1em 2em;
  background-color: white;
  border:2px solid $borderColor;
  max-width: 65%;
}

#menu_container {
  display: inline-flex;
  float:left;
  max-width:25%;
  top:0;
  left:0;
  clear:right;
  margin-right:2em;
}

#menu {
  display:inline-block;
  position:relative;
  top:0;
  left:0;
  line-height: 1.5;
  list-style: none;
  padding:1em;
  margin:0;
  border-right: 2px solid $borderColor;
  border-bottom: 2px solid $borderColor;
  border-top: 2px solid $borderColor;
  background-color: #fff;
  ul {
    padding-left:10px;
  }
  li {
    list-style: none;
    margin:0;
    padding:0;
  }

  .folder, .folderOpen, .audio, .pdf, .file {
    padding-left:25px;
  }

  .folder {
    background: url(../img/map.png) -5px -5px no-repeat;
  }

  .folderOpen {
    background: url(../img/map.png) -5px -35px no-repeat;
  }

  .audio {
    background: url(../img/map.png) -5px -64px no-repeat;
  }

  .pdf {
    background: url(../img/map.png) -5px -93px no-repeat;
  }

  .file {
    background: url(../img/map.png) -5px -122px no-repeat;
  }
}

#main_content {
  display:inline-block;
  margin-bottom:2em;
}

pre {
  max-height: 37em;
}

header {

  text-align: center;
}

#resume_body {
  background-color: #efefef;
  border:2px solid $borderColor;
  margin-top:1em;

  header {
    background-color: white;
    border: 2px solid $borderColor;
    margin:-2px;
  }
}

fieldset {
  border:2px solid $borderColor;
  margin:1em;
  margin-top:2em;
  background-color: white;


  legend {
    border: 2px solid $borderColor;
    background-color: white;
    padding:.5em 1em;
    margin-left: 1em;
  }
}