html,body {
  margin:0;
  padding:0;
  font-family: sans-serif;
  position: relative;
}

#menu_container {
  display:inline-flex;
}

#menu {
  position:relative;
  top:0;
  left:0;
  line-height: 1.5;
  list-style: none;
  padding:1em;
  margin:0;
  border-right: 1px solid black;
  border-bottom: 1px solid black;
  border-radius: 3px;
  ul {
    padding-left:10px;
  }
  li {
    list-style: none;
    margin:0;
    padding:0;
  }

  .folder, .folderOpen, .audio, .pdf, .file {
    padding-left:25px;
  }

  .folder {
    background: url(../img/map.png) -5px -5px no-repeat;
  }

  .folderOpen {
    background: url(../img/map.png) -5px -35px no-repeat;
  }

  .audio {
    background: url(../img/map.png) -5px -64px no-repeat;
  }

  .pdf {
    background: url(../img/map.png) -5px -93px no-repeat;
  }

  .file {
    background: url(../img/map.png) -5px -122px no-repeat;
  }
}

#main_content {
  display:inline-block;
}