html, body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  position: relative;
  background-color: #dddddd; }

header {
  margin-bottom: 1em; }

h2 {
  taxt-size: 2em; }

#audio_container {
  margin: 0 auto; }
  #audio_container h6 {
    margin: 0 auto 0; }

#main_content {
  padding: 1em 2em;
  background-color: white;
  border: 2px solid #999999;
  max-width: 65%;
  width: 65%; }

#menu_container {
  display: inline-flex;
  float: left;
  max-width: 25%;
  top: 0;
  left: 0;
  clear: right;
  margin-right: 2em; }

#menu {
  display: inline-block;
  position: relative;
  top: 0;
  left: 0;
  line-height: 1.5;
  list-style: none;
  padding: 1em;
  margin: 0;
  border-right: 2px solid #999999;
  border-bottom: 2px solid #999999;
  border-top: 2px solid #999999;
  background-color: #fff; }
  #menu ul {
    padding-left: 10px; }
  #menu li {
    list-style: none;
    margin: 0;
    padding: 0; }
  #menu .folder, #menu .folderOpen, #menu .audio, #menu .pdf, #menu .file, #menu #github {
    padding-left: 25px; }
  #menu .folder {
    background: url(../img/map.png) -5px -5px no-repeat; }
  #menu .folderOpen {
    background: url(../img/map.png) -5px -35px no-repeat; }
  #menu .audio {
    background: url(../img/map.png) -5px -64px no-repeat; }
  #menu .pdf {
    background: url(../img/map.png) -5px -93px no-repeat; }
  #menu .file {
    background: url(../img/map.png) -5px -122px no-repeat; }
  #menu #github {
    background: url(../img/github.png) no-repeat;
    background-size: 19px; }

#main_content {
  display: inline-block;
  margin-bottom: 2em; }

pre {
  max-height: 37em; }

header {
  text-align: center; }
  header h6 {
    display: block; }

.filename {
  display: block;
  margin: .7em auto 0; }

.file_links {
  display: inline-block;
  margin: 0 auto .7em 1em; }

#codeTitle {
  display: block;
  text-align: center;
  font-style: italic;
  padding-top: 1.0em;
  border-top: 2px solid #111;
  margin-top: .5em; }

#resume_body {
  color: #333;
  background-color: #efefef;
  border: 2px solid #999999;
  margin-top: 1em; }
  #resume_body header {
    background-color: white;
    border: 2px solid #999999;
    margin: -2px; }
    #resume_body header a {
      font-weight: bold; }
  #resume_body a {
    text-decoration: none; }
    #resume_body a:link {
      color: #37b8eb; }
    #resume_body a:visited {
      color: #ef3636; }
    #resume_body a:hover {
      color: #7b77ff; }
    #resume_body a:active {
      color: #ef3636; }
  #resume_body h1, #resume_body h2, #resume_body h3, #resume_body h4 {
    font-weight: bold; }
  #resume_body h1 {
    font-size: 1.8em; }
  #resume_body h2 {
    font-size: 1.5em; }
  #resume_body h3 {
    font-size: 1.2em; }
  #resume_body h4 {
    font-size: 1.0em; }

fieldset {
  border: 2px solid #999999;
  margin: 1em;
  margin-top: 2em;
  background-color: white; }
  fieldset legend {
    border: 2px solid #999999;
    background-color: white;
    padding: .5em 1em;
    margin-left: 1em;
    font-weight: bold; }
  fieldset .exp_section, fieldset .ed_section, fieldset .skill_section {
    border-bottom: 1px solid #999999;
    padding: 1em; }
    fieldset .exp_section ul, fieldset .ed_section ul, fieldset .skill_section ul {
      margin: 0.5em 0 1em 0; }
      fieldset .exp_section ul li, fieldset .ed_section ul li, fieldset .skill_section ul li {
        list-style-type: circle; }
    fieldset .exp_section h1, fieldset .exp_section h2, fieldset .exp_section h3, fieldset .exp_section h4, fieldset .ed_section h1, fieldset .ed_section h2, fieldset .ed_section h3, fieldset .ed_section h4, fieldset .skill_section h1, fieldset .skill_section h2, fieldset .skill_section h3, fieldset .skill_section h4 {
      margin: 0;
      display: inline-block; }
    fieldset .exp_section h3, fieldset .exp_section h4, fieldset .ed_section h3, fieldset .ed_section h4, fieldset .skill_section h3, fieldset .skill_section h4 {
      float: right; }
    fieldset .exp_section h4, fieldset .ed_section h4, fieldset .skill_section h4 {
      position: relative;
      top: 10px; }
  fieldset .last {
    border: none; }
