html {
  font-family: sans-serif;
  text-align: center; }

body {
  background-color: #f0f0f0;
  line-height: 1.3; }

#outer {
  max-width: 620px;
  background-color: #fafafa;
  border: 1px black solid;
  text-align: left; }

#header {
  background-color: #efefef;
  border: 1px solid #ccc;
  width: 90%; }
  #header h1 {
    float: left; }
  #header p {
    float: right;
    text-align: right; }

.section {
  clear: left; }
  .section h1 {
    float: left;
    font-size: 1em; }
  .section h2 {
    float: right;
    font-size: 0.8em;
    color: #432; }
  .section h3 {
    float: left;
    clear: left;
    font-size: 0.8em;
    color: #432; }
  .section p {
    clear: left;
    font-size: 0.8em; }
  .section ul {
    padding-top: 1em;
    font-size: 0.8em;
    clear: both; }
    .section ul li {
      list-style-type: circle; }

div.section {
  border-top: solid 1px #222; }

fieldset {
  border: 1px solid #ccc;
  border-radius: 3px;
  position: relative;
  width: 90%;
  display: inline-block; }
  fieldset legend {
    font-weight: bold;
    width: 90%;
    background-color: #efefef;
    border: 1px solid #ccc;
    border-radius: 3px;
    text-align: center;
    position: relative;
    display: block; }

#skillList li {
  list-style-type: none; }
